.DS_Store
*/.DS_Store
*/bin-debug

waveform-generation/flex/bin-debug/*
drink-menu/DrinkMenu.air

drink-menu/.settings/org.eclipse.core.resources.prefs

drink-menu/.project

drink-menu/.model/DrinkMenu.fml

drink-menu/.flexProperties

drink-menu/.actionScriptProperties
